<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../assets/favico.svg" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../public/main.css">
    <link rel="stylesheet" href="../public/content.css">
</head>

<body>

    <header>
        <div class="containerHeader">
            <div class="logo">
                <a href="/views/index.html"><img id="logo" src="../assets/logo.svg" alt="Logo"></a>
            </div>
        
            <div class="linksHeader">
                <a href="/views/about.html">About</a>
                <a href="/views/methodologies.html">Methodologies</a>
                <a href="/views/developer.html">Developer</a>
            </div>

            <div class="toggle">
                <img src="" alt="">                
            </div>
            
        </div>
    
    </header>

    <div class="containerText textMargin">
        
        <div class="titleAndParagraph">
            <h2>Why generating random numbers is important?</h2>
            <p>
                Random numbers are useful for a variety of purposes, such as generating data encryption keys,
                simulating and modeling complex phenomena and for selecting random samples from larger data sets.
                They have also been used aesthetically, for example in literature and music, and are of course ever 
                popular for games and gambling.
            </p>
        </div>

        <div class="titleAndParagraph">
            <h2>What is a random number?</h2>
            <p>
                When discussing single numbers, a random number is one that is drawn from a set of possible values, 
                each of which is equally probable, i.e., a uniform distribution. When discussing a sequence of random 
                numbers, each number drawn must be statistically independent of the others.
            </p>
        </div>

        <div class="titleAndParagraph">
            <h2>The goal</h2>
            <p>
                To create build a website that provides random numbers from 01 to 60 using two different methodologies:<br>
                1. The tool to create random numbers provided by the programming language;<br>
                2. Using mathematics studies to provide as much randomness as we can;
            </p>
        </div>
             
        <p>font: <em><a href="https://www.random.org/randomness/">https://www.random.org/randomness/</a></em></p>
    </div>

</body>
</html>
