<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../assets/favico.svg" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developer</title>
    <link rel="stylesheet" href="../public/dev-style-sheet.css">
    <link rel="stylesheet" href="../public/main.css">
    <link rel="stylesheet" href="../public/content.css">
</head>

<body>

    <header>
        <div class="containerHeader">
            <div class="logo">
                <a href="/views/index.html"><img id="logo" src="../assets/logo.svg" alt="Logo"></a>
            </div>
        
            <div class="linksHeader">
                <a href="/views/about.html">About</a>
                <a href="/views/methodologies.html">Methodologies</a>
                <a href="/views/developer.html">Developer</a>
            </div>

            <div class="toggle">
                <img src="" alt="">                
            </div>
            
        </div>
    
    </header>
    <div class="container textMargin">
        
        <div class="card">
            <img src="../assets/elon.svg" alt="">
            <h2>Elon L.</h2>
            <p>Web Developer</p>
        </div>

        <div class="AboutDeveloper">
            <h1>About me...</h1>
            <p></p>

        </div>
    
    </div>
    
</body>
</html>
