.textMargin {
    width: 90%;
    margin: 8vh auto auto;
}

.container {
    display: grid;
    grid-template-columns: min-content auto;
    column-gap: 10px;
}

.containerText .titleAndParagraph,
.containerMethods .containerText {
    margin-bottom: 0.8rem;
}

.containerText .titleAndParagraph h2,
.containerText .titleAndParagraph p,
.containerMethods .containerText h2,
.containerMethods .containerText p {
    margin-bottom: 0.2rem;
}

.containerMethods .containerText h2 {
    margin-bottom: 0.4rem;
}

.containerMethods .containerText img {
    display: flex;
    margin: auto;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 22vw;
    overflow: hidden;
    
}

.card h3 {
    margin: 0.8vh auto auto auto;
}

.AboutDeveloper p {
    font-size: 1.2rem;
    text-align: justify;
    margin-top: 0.8vh;
}